<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 配置Action类 -->
    <bean id="productAction" class="site.nebulas.action.ProductAction" scope="prototype">
        <!-- 手动注入Servuce -->
        <property name="productService" ref="productService"/>
    </bean>
    <!-- 配置业务层的类 -->
    <bean id="productService" class="site.nebulas.service.ProductService">
        <property name="productDao" ref="productDao"/>
    </bean>

    <!-- 配置DAO的类 -->
    <bean id="productDao" class="site.nebulas.dao.ProductDao">

    </bean>
</beans>

